@{
    ViewData["Title"] = "Confirmar exclusão do Grupo";
}

<div class="text-center">
    <h1 class="display-4">Área do Gestor</h1>
    <p class="fs-3">Deseja realmente excluir o Grupo ITB FIEB Alphaville - Financeiro?</p>
    <p class="fs-5">Esta ação não poderá ser desfeita</p>
</div>

<div class="d-flex justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="table-responsive-sm">

            <form>





                <div class="d-grid gap-2">
                    <a class="btn btn-primary" role="button" asp-controller="Gestores" asp-action="Index">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>

            </form>

        </div>
    </div>
</div>