@{
    ViewData["Title"] = "Novo Apontamento";
}

<div class="text-center">
    <h1 class="display-4">Área do Gestor</h1>
    <p>Espaço para a realização de novos apontamentos.</p>
</div>

<div class="d-flex justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-7 col-xl-6">
        <div class="table-responsive-sm">

            <p class="fs-4 text-center">Fausto Silva possui 1 dia, 4 horas e 30 minutos de saldo.</p>

            <form>
                <div class="row g-3">
                    <div class="col-12 col-md-4">
                        <label for="dataDaOcorrencia" class="form-label balance-text">Dia que ocorreu:</label>
                        <input id="dataDaOcorrencia" class="form-control" type="date" />
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="quantidadeDeHoras" class="form-label balance-text">Quantidade de Horas:</label>
                        <input type="time" class="form-control" id="quantidadeDeHoras">
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="balance-text">Como deseja tratar?</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Crédito</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Débito</label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Observações:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex: Horas Extras autorizadas">
                </div>

                <br />

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Incluir</button>
                    <a class="btn btn-danger" role="button" asp-controller="Gestores" asp-action="Index">Cancelar</a>
                </div>

            </form>

        </div>
    </div>
</div>

