html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*Customizações:*/

/*diminui o texto sem quebrar linha*/
.balance-text {
    white-space: nowrap;
    font-size: clamp(12px, 5vw, 18px);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}