@{
    ViewData["Title"] = "Página de Cadastro para Funcionários";
}

<div class="text-center">
    <h1 class="display-4">Área do Funcionário</h1>
    <p>Página de Cadastro para o primeiro acesso</p>
</div>